<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <style>
    li{
        list-style: none;
        padding: 10px;
    }
    .border{
        border: solid 2px black;
        width: 400px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
    }
    .error{
        list-style-type: none;
        color: red;
    }
    </style>
</head>
<body>
    <h1>Welcome, {{request.session.name}}</h1>    
    <div class="border">
        <h5>Quotable Quotes</h5>
        {% for quote in quotes %}
        <p>{{quote.quoted_by}}: {{quote.message}}</p>
        <h5>Posted by <a href="/user/{{quote.poster.id}}">{{quote.poster.name}}</a></h5>
        <a href="/add/{{quote.id}}">Add to My List</a>
        {% endfor %}
    </div>
    
    <div class="border">
        <h5>Your Favorites</h5>
        {% for fav in favs %}
        <p>{{fav.quoted_by}}: {{fav.message}}</p>
        <h5>Posted by <a href="/user/{{fav.poster.id}}">{{fav.poster.name}}</a></h5>
        <a href="/remove/{{fav.id}}">Remove from My List</a>
        {% endfor %}
    </div>
    <h3>Contribute a Quote:</h3>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            *********{{ message }} *********</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/process" method= 'post'>
        {% csrf_token %}
        <ul>
            <li>Quoted By: <input type="text" name="person"></li> 
            <li>Message:</li><li><textarea name="message" cols="30" rows="10"></textarea></li>
            <li><input type="submit" name="submit" value="Submit"></li>
        </ul>
    </form>
    <a href="/logout">Logout</a> 
</body>
</html>